*{
    margin: 0;
    font-family: Verdana;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #f1e724;
}

.btnPreorderHeader{
    float: right; 
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: inherit; 
    border: black 2px solid;
    cursor: pointer;
    transition: background-color 0.6s ease; 
}
.btnPreorderHeader:hover{
    background-color: black;
    color: #f1e724;
} 
 
.dropdownWrapper{
    width: 60px;
    height: 50px;
    float: right;  
    border: none; 
}
 
.dropdownContent a{
    background-color: #f1e724; 
    display: none;
    font-size: 20px; 
    padding: 5px; 
    margin-top: -3px;
    border-top: gray solid 1px;
    text-decoration: none;
    margin-left: -80px;
}

.dropdownContent a:hover{
    background-color: black;
    color: #f1e724;
    transition: background-color 0.6s ease; 
}

.dropdownWrapper:hover .dropdownContent a{
    display: block; 
}

.footer{
    background-color: #f1e724;
    height: 30px;
}

.textFooter{
    padding-top: 7px;
    text-align: center;
    color: black;
    font-size: 10px;
}